@model BugTrackingSystem.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>

<head>
    <style>

        body {
            background-image: url('../../Skybluish.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<div>
    @*<h4>Project</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frontend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frontend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Backend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Backend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
